<div class="panel panel-flat">
  <div class="panel-heading">
    <h6 class="panel-title">
      <span class="hidden">{{ status }}</span>
      {% if not video.file_name %} Paste your link Fshare to the right ========> {% else %}
      {{ video.file_name }}
      {% endif %} {% if not error %}
      <small class="display-block text-primary"><a href="{{ video.fs_url }}"
          target="_blank">{{ video.fs_url }}</a></small>
      {% endif %}
    </h6>
    <div class="heading-elements">
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="url" name="url" class="form-control" placeholder="Here" required />
          <div class="input-group-btn">
            <button type="button" onclick="getLink()" class="btn btn-primary btn-icon">
              <i class="icon-airplane3 position-left"></i>Fly
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function getLink() {
    $('.loading').show();
    $.ajax({
      type: 'POST',
      url: "{% url 'core_views_get' %}",
      data: {
        url: $('#url').val(),
      },
      dataType: 'json',
      success: function (response) {
        $('.loading').fadeOut();
        if (response.error_string != "") {
          alert(response.error_string);
        }
        if (response.code != "") {
          var url = "{% url 'core_views_play' 6969 %}".replace(6969, response.code);
          window.location.href = url;
        }
      },
      error: function () {
        $('.loading').fadeOut();
        alert("Error! Please try another file");
      }
    });
  }
</script>