.loading {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loading h3 {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
  font-size: 32px;
}

#fun-title {
  cursor: pointer;
}

.main-wrapper {
  margin-bottom: 40px;
}

.footer {
  font-size: 80%;
}
